// Import variables
@import '_variables';
@import '_mixins';

@-moz-document regexp("https?://www\\.tekstowo\\.pl/.*") {
    // Import components
    @import 'components/_buttons';
    @import 'components/_containters';
    @import 'components/_controls';
    @import 'components/_icons';
    @import 'components/_facebook';
    @import 'components/_headers.scss';
    @import 'components/_labels';
    @import 'components/_links';
    @import 'components/_logo';
    @import 'components/_modals';
    @import 'components/_navbar';
    @import 'components/_overlays';
    @import 'components/_pagination';
    @import 'components/_scrollbar';
    @import 'components/_tables';
    @import 'components/_tabs';
    @import 'components/_typography';
    @import 'components/_userInfo';

    body {
        background: $body-bg;
        color: $text-base-color;

        &.no-bg {
            background: $body-bg !important;
        }
    }

    p.redinfo {
        color: $brand-danger;
    }

    h2 {
        color: $brand-primary-dark;
    }

    .blue h2 {
        color: $brand-info;
    }

    .top-top {
        background-color: $body-bg;
    }

    .green {
        color: $brand-primary;
    }

    .white {
        color: #fff
    }

    hr {
        border-top-color: change-color($gray-lighter, $alpha: 0.1);
    }

    textarea:focus, input:focus {
        outline: none;
    }
    /** BOTTOM **/
    #bottom {
        background: #131313
    }

    #bottom + div {
        display: none !important;
    }

    #stopka {
        color: $text-dark-color;
    }

    #stopka p {
        border: none;
    }
    /** CENTER **/
    a.search-adv {
        color: $text-base-color;
    }

    ul.nav.alfabet li.active {
        color: $brand-danger;
    }
    /** LEFT **/
    h3 {
        color: $brand-primary-dark;
    }

    .blue h3 {
        color: #255EAE
    }

    .left-box-nomargin h4 {
        color: $brand-primary-dark;
    }

    .blue-box fieldset.search {
        margin-top: 10px;
    }

    .long-long {
        border: 1px solid #E5E5E5;
    }

    fieldset {
        &.login {
            // Change background for all kind of form inputs.
            & input {
                &.login-text,
                &.login-text-long,
                &.long-long {
                    background: $box-bg;
                }
            }
        }
        // Add more padding, so bottom links doesn't touch the bottom end of container form.
        &.rejestracja {
            padding-bottom: 1.5em;
        }
        // Top form message, what that form is for.
        & .komunikat {
            background: $header-bg;
            margin-bottom: 1.5em;
            padding: 1em 0px;
            text-align: center;
            // Hide blank div, pushing form message.
            & > .odstep {
                display: none;
            }
        }
    }
    // Hide senseless break-line element.
    #addTextForm > fieldset.login.edycja > div.static:first-child > p > br {
        display: none;
    }

    .textarea-comm {
        border: 1px solid #e6e6e6;
    }

    select {
        border: 1px solid #e6e6e6;
    }

    .formRow.song-item .caption .instrumental,
    .formRow.box label.opt .instrumental {
        background: $box-bg;
    }

    .formRow.song-item .actions .del {
        background: $box-bg;
    }

    .next-button {
        color: #fff
    }

    .addcomm-button {
        color: #fff;
    }

    .blue .addcomm-button {
        background: $box-bg;
    }

    .cancel {
        background: $box-bg;
        color: #fff;
    }

    h3.top-track {
        border-bottom: 1px dashed #e8e8e8;
    }

    .top-tracks {
        border-bottom: 1px dashed #e8e8e8;
        color: #255EAE;
    }

    .top-tracks .votes {
        background: $box-bg;
        color: #b6b6b6;
    }

    .top-tracks .views {
        background: $box-bg;
        color: #b6b6b6;
    }

    .top-tracks img {
        background: $box-bg;
    }
    /** BOX **/
    .box-top {
        height: 38px;
        background: $box-bg;
        position: relative
    }

    .box-top .box-top-left, .box-top .box-top-right {
        background: $box-bg;
        width: 3px;
        height: 38px;
        position: absolute;
        top: 0
    }

    .box-top .box-top-right {
        right: 0px;
        background: $box-bg;
    }

    .box-top h2 {
        color: $header-2-color;
    }

    .h2-lista {
        background: $box-bg;
    }

    .h2-nowe-teksty {
        background: $box-bg;
    }

    .h2-nowe-teledyski {
        background: $box-bg;
    }

    .box-content {
        background-color: #1c1c1c;
        border: none;
        border-top: 0px;
        margin-bottom: 5px
    }

    .adv-top {
        text-align: center
    }

    .adv-top div, .adv-top table {
        margin: 0px auto
    }

    .adv-home {
        display: table;
        float: left;
        width: 336px !important;
        height: 280px;
        text-align: center !important;
        line-height: 0
    }

    .adv-home-child {
        display: table-cell !important
    }

    .adv-home div,
    .adv-home ins,
    .adv-home object {
    }

    .adv-pion {
        float: right
    }

    .adv-bottom {
        float: right;
        margin: 5px 40px 0px 0px;
        display: inline
    }

    .box-lista {
        width: auto;
        float: none;
    }

    .box-home {
        float: left;
        margin-right: 10px;
    }

    .box-home.box-teksty {
        width: 100%;
        margin-right: 13px
    }

    .box-home.box-teksty .box-przeboje {
        width: 100%;
    }

    .box-home.box-teksty .box-przeboje a.title {
        width: 100%;
    }

    .box-home.box-teledyski {
        margin-right: 0px;
        width: 100%;
    }

    .box-przeboje b {
        font-size: 1.4em;
        font-weight: bold;
        display: inline-block;
        line-height: 34px;
        margin-right: 10px;
        vertical-align: -1px
    }

    .box-przeboje a.title, .box-przeboje span.title {
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
    }

    .box-utwory .box-przeboje b {
        font-size: 1em;
        margin-right: 3px;
        font-weight: normal;
        line-height: 30px;
    }

    .box-tracks .box-przeboje {
        margin: 0
    }

    .box-tracks .box-przeboje b {
        font-weight: normal;
        font-size: inherit;
        line-height: 32px
    }

    .na-plus, .na-minus {
        width: 26px;
        height: 26px;
        display: inline-block;
        background: $box-bg;
        vertical-align: -8px
    }

    .left-box-content .box-przeboje b {
        font-size: 1em;
        margin-right: 3px;
        font-weight: normal;
        line-height: 30px;
    }

    .cancel .icon_kamera {
        right: 36px
    }

    .cancel .icon_pl {
        right: 60px;
    }

    .add-info .adds {
        position: absolute;
        width: 120px;
        top: 10px;
        right: 32px
    }

    .add-info .icon_kamera {
        right: 160px;
    }

    .add-info .icon_pl {
        right: 182px
    }

    .popularni {
        width: 100%;
        height: 230px;
        float: left;
        background: $box-bg;
        margin-top: 20px;
        position: relative
    }

    .popularni h2 {
        color: $brand-primary-dark;
        font-size: 1.5em;
        font-weight: bold;
        margin: 10px 0px 0px 52px;
    }

    .to-left {
        width: 32px;
        height: 59px;
        background: $box-bg;
        display: block;
        position: absolute;
        top: 60px;
        left: 4px
    }

    .to-right {
        width: 32px;
        height: 59px;
        background: $box-bg;
        display: block;
        position: absolute;
        top: 60px;
        right: 4px
    }

    #art_box {
        width: 1800px;
    }

    .to-move {
        width: 89%;
        position: unset;
        top: auto;
        left: auto;
        overflow: hidden
    }

    .to-move .popularny {
        display: inline-block;
        float: left;
        margin: 0px 7px;
        width: 76px;
        height: 135px;
        line-height: 1.1em;
        text-align: center;
        font-weight: bold;
        position: relative
    }

    .to-move .popularny img {
        margin-bottom: 5px;
        padding: 2px;
        border: 1px solid #cdcdcd;
        background: #fff
    }

    .belka {
        margin-bottom: 13px;
    }

    .blue .belka {
        background: $box-bg;
    }

    .belka.yt-logged {
        margin-bottom: 1px
    }

    .belka.short {
        height: 38px
    }

    .belka.users {
        width: 160px;
        float: right;
        margin-bottom: 10px;
    }

    .belka.users strong {
        width: auto;
    }

    .belka strong, .belka .strong {
        font-size: 1.5em;
        font-weight: bold;
        display: inline-block;
        width: 415px;
        line-height: 1em;
        float: left;
        margin: 0;
    }

    .belka strong .org-title, .belka .strong .org-title {
        font-size: 0.848em
    }

    .soundtrack.belka strong, .soundtrack.belka .strong {
        width: 550px;
    }

    .belka strong .sup, .belka .strong .sup {
        font-size: 0.545em;
        font-weight: normal;
        vertical-align: text-top
    }

    .belka strong.full, .belka .strong.full {
        width: 95%
    }

    .belka strong.long, .belka .strong.long {
        margin-top: 5px
    }

    .content.belka strong, .content.belka .strong {
        width: 320px;
    }

    .belka .odslon {
        color: $text-base-color;
    }

    .belka.short .link-wykonawca {
        margin-top: 10px;
    }

    .short .belka-left, .short .belka-right {
        height: 38px
    }

    .belka-left {
        background: $box-bg;
    }

    .belka-right {
        background: $box-bg;
    }

    .blue .belka-left {
        background: $box-bg;
    }

    .blue .belka-right {
        background: $box-bg;
    }

    .teledysk {
        width: auto;
        height: auto;
        float: right;
        position: relative;
        line-height: 0
    }

    .teledysk .no-teledisc {
        width: 365px;
        height: 280px;
        background: $box-bg;
    }

    .zdjecie {
        width: 365px;
        background: $box-bg;
        float: right;
        position: relative
    }

    .zdjecie.soundtrack {
        background: $box-bg;
    }

    .cover {
        width: 300px;
        text-align: center
    }

    .cover img {
        max-width: 300px;
        max-height: 300px;
    }

    #uploadImage {
        float: right;
        width: 200px;
    }

    #uploadImage_form {
        width: 300px;
        float: left;
        margin-bottom: 20px;
    }

    #uploadImage_progresscont {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 0px;
        border: 1px solid #E6E6E6;
        padding: 3px;
        width: 100px;
        float: right;
        display: none
    }

    #uploadImage_progressbar {
        background-color: #E6E6E6;
        width: 0%;
        padding: 7px 0px 7px;
        text-indent: 5px;
    }

    .zdjecie.glowne {
        background: none;
        text-align: center
    }

    .teledysk a {
        width: 225px;
        height: 50px;
        display: inline-block;
        background: $box-bg;
        line-height: 50px;
        font-size: 2em;
        color: #fff;
        padding-left: 25px;
        top: 200px;
        left: 59px;
        position: absolute;
        letter-spacing: 1px
    }

    .teledysk a.single, .blue .teledysk a.single {
        background: none;
        position: static;
        width: inherit;
        height: inherit;
        left: 0px;
        top: 0px;
        display: inline;
        padding: 0
    }

    .blue .teledysk a {
        background: $box-bg;
    }

    .teledysk a.noflash {
        width: auto;
        background: transparent;
        color: inherit;
        padding-left: 0px;
        font-weight: bold;
        font-size: 1.3em
    }

    .teledysk strong {
        top: 20px;
        left: 90px;
        position: absolute;
        color: #69b529;
        font-size: 2.4em;
        display: inline-block
    }

    .blue .teledysk strong {
        color: #255EAE
    }

    #soundtrack-page .teledysk-left .box-przeboje {
        line-height: 32px
    }

    #soundtrack-page .teledysk-left .box-przeboje.no-bg {
        padding: 3px 10px 0px 10px;
    }

    .teledysk-left .box-przeboje a, .nick_link {
        color: #858585;
        text-decoration: underline;
        font-weight: bold
    }

    .teledysk-left .box-przeboje a.simple {
        text-decoration: none;
        font-weight: normal
    }

    .teledysk-left .box-przeboje a:hover {
        color: $brand-primary;
        text-decoration: none
    }

    .teledysk-left .box-przeboje a.new, .metric a.edit {
        float: right;
        color: $brand-primary;
        font-weight: bold;
        font-size: 1em
    }

    .blue .teledysk-left .box-przeboje a.new {
        color: #255EAE
    }

    .teledysk-right-top,
    .teledysk-right-bottom {
        width: 365px;
        height: 4px;
        background: $box-bg;
        font-size: 0px;
        line-height: 0px;
        float: right
    }

    .teledysk-right-bottom {
        background: $box-bg;
    }

    .teledysk-right .social {

        & label {
            background: unset;
        }
    }

    .teledysk-udo {
        display: inline-block;
        width: 27px;
        height: 24px;
        margin-left: 5px;
        vertical-align: middle;
        text-indent: -20000px;
    }

    .social .link-gg {
        right: 192px;
        position: absolute;
    }

    .emb {
        color: $link-color;
        background-color: $input-base-bg;

        &:hover, &:active, &focus {
            color: $link-hover-color;
            background-color: $input-base-hover-bg;
        }
    }

    .glosowanie span {
        font-size: 1.3em;
        font-weight: bold
    }
    /** end of blue icons **/
    .moderator-info {
        position: relative;
        width: 714px;
        font-weight: bold;
        text-align: center;
        line-height: 30px;
        border: 1px solid #ccc;
        font-size: 1.2em
    }

    .glosowanie-error {
        position: relative;
        width: 714px;
        background: $box-bg;
        color: #fff;
        font-weight: bold;
        text-align: center;
        line-height: 29px
    }

    .glosowanie-error-left, .glosowanie-error-right {
        width: 4px;
        height: 29px;
        position: absolute;
        top: 0
    }

    .glosowanie-error-left {
        left: 0px;
        background: $box-bg;
    }

    .glosowanie-error-right {
        right: 0px;
        background: $box-bg;
    }

    .tekst {
        margin: 15px 0px 15px 10px;
        line-height: 1.2em
    }

    .song-text {
        font-family: Tahoma;
    }

    .song-text li {
        margin: 1em 0px 1em 2em
    }

    .tlumaczenie {
        font-family: Tahoma;

        & b {
            margin-top: 10px;
        }
    }

    .revisions {
        padding: 7px 0px;
    }

    .revisions .entry {
        border-bottom-color: $border-base-color;
        font-size: 12px;
    }

    .revisions .entry .fixed {
        display: inline-block
    }

    .revisions .entry:last-child {
        border: 0
    }

    .revisions .nick_link {
        text-decoration: none;
        color: $brand-primary;
        font-weight: normal
    }

    .text-link {
        color: $brand-primary-dark;
        text-decoration: underline
    }

    .blue .revisions .nick_link, .blue .text-link {
        color: $brand-info;
    }

    .komentarz {
        & .icons span {
            display: block;
            float: left;
            margin: -1px 5px 0
        }

        & img.avatar {
            padding: 0;
            border: none;
        }

        & .bar {
            color: $text-base-color;

            & .icons {
                float: right;
                margin-top: 3px
            }
        }

        & .discussion {

            & .bar,
            & .desc {

                & .deleted {
                    font-style: italic;
                    color: #ccc
                }
            }

            & p {
                margin-left: 0;
            }
        }

        & textarea {
            width: 100%;
            margin-top: 5px
        }

        & p {
            line-height: 1.2em;
            margin: 10px 5px 5px
        }
    }

    .komentarz-ukryj {
        & img.avatar,
        & .bar {
            opacity: 0.3;
            filter: none;
        }
    }

    .op3 {
        opacity: 0.3;
        filter: none;
    }

    .reklama-komentarz {
        & img.avatar {
            border: 0px;
            padding: 0px;
            margin-left: 10px;
        }

        & .bar strong {
            color: $brand-danger;
        }
    }

    form .error {
        color: $brand-danger;
        font-size: 12px;
        font-weight: bold
    }

    .content {

        &.add-soundtrack {
            width: 100%;
            position: relative;
        }

        & .static {
            padding: 10px 5px;

            & p {
                line-height: 1.3em;
                font-size: 1.1em;
                text-align: justify;
                margin: 5px 0px;
            }

            & ol {
                line-height: 1.3em;
                font-size: 1.1em;
                text-align: justify;
                margin: 5px 0px 5px 20px;
            }
        }

        & .error {
            color: $brand-danger;
            display: block;
            clear: both;
            margin-left: 186px;
            margin-bottom: 5px;
        }

        & .rejestracja .success {
            color: $brand-primary;
        }
    }

    .inlineCommentForm {
        position: relative
    }

    .login_box .error {
        color: $brand-danger;
        display: block;
        clear: both;
        margin-left: 90px;
        margin-bottom: 5px
    }

    .content-belka, .content-belka-long {
        color: $header-2-color;
    }

    .belka-link a {
        color: $link-color;
    }

    .content.belka .link-wykonawca, .content-belka .link-wykonawca {
        color: $link-color;
    }

    .padding strong.nav, #gsearch .gsc-cursor-current-page {
        color: $brand-danger;
    }

    .padding a:hover {
        text-decoration: underline
    }

    #gsearch .gsc-cursor-page {
        text-decoration: none
    }

    .padding a.page, #gsearch .gsc-cursor-page {
        width: 24px;
        height: 26px;
        display: inline-block;
        text-align: center;
        line-height: 24px
    }

    .padding a.page:hover, #gsearch .gsc-cursor-page:hover {
        background: $box-bg;
        color: #fff;
        text-decoration: none
    }

    #gsearch .gsc-cursor-current-page {
        background: none !important;
        color: $brand-danger !important;
        padding: 0px 5px !important
    }

    .box-big-top, .box-big-bottom {
        width: 531px;
        height: 4px;
        background: $box-bg;
        font-size: 0px;
        line-height: 0
    }

    .box-big-bottom {
        background: $box-bg;
    }

    .box-big p {
        text-align: center;
        font-size: 1.1em
    }

    .wykonawca {
        width: 75px;
        text-align: center;
        float: left;
        display: inline-block;
        padding: 5px
    }

    .wykonawca img {
        padding: 2px;
        border: 1px solid #cecece
    }

    .wykonawca a {
        opacity: 0.6;
        filter: none;
    }

    .wykonawca a:hover {
        opacity: 1;
        filter: none;
    }

    .wykonawca strong {
        color: $brand-primary-dark;
        margin: 0px 0px 5px;
        display: inline-block
    }

    .wykonawca strong.grey {
        color: #555
    }

    .wykonawca a.usun {
        position: static;
    }

    .add-navigation {
        text-align: center;
        margin: 0px 0px 20px;
        white-space: nowrap
    }

    .add-navigation a {
        display: inline-block;
        margin: 0px 3px;
        font-weight: bold;
        color: $brand-primary;
        text-decoration: underline
    }

    .add-navigation a.active {
        color: $brand-danger;
        text-decoration: none
    }

    .user-profile h2 {
        margin: 10px 0
    }

    .user-profile .add-info .adds {
        position: absolute;
        width: 120px;
        top: 10px;
        right: 0
    }

    .user-profile .add-info .icon_kamera {
        right: 128px
    }

    .user-profile .add-info .icon_pl {
        right: 150px;
    }

    .zakladka {
        display: inline-block;
        width: 155px;
        height: 38px;
        line-height: 38px;
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 10px;
        border: 1px solid $border-dark-color;
        border-right: 0px;
        background: $box-bg;
    }

    .zakladka.zakladka-long {
        width: 305px
    }

    .zakladka-last {
        border-right: 1px solid $border-dark-color;
    }

    .zakladka-active {
        border-bottom: 0px;
        line-height: 38px;
        height: 38px;
        background: none !important;
        color: #62ae25
    }

    .zakladka-info {
        border: 1px solid #e5e5e5;
        padding: 15px 20px;
        margin-bottom: 20px;
        line-height: 1.5em;
        border-top: 0px;
        height: 140px;
        overflow: auto
    }

    .zakladka-wypelnienie {
        border-bottom: 1px solid #e5e5e5;
        line-height: 37px;
        height: 37px;
        width: 377px;
        display: inline-block;
        vertical-align: bottom;
        border-left: 0
    }

    .zakladka-wypelnienie.zakladka-long {
        width: 231px
    }

    .zakladka-info p {
        text-align: justify;
        font-size: 1.1em;
        line-height: 1.4em
    }

    .zakladka-info .box-big, .zakladka-info .box-big-top, .zakladka-info .box-big-bottom {
        margin: 0px auto
    }

    .zakladka-info .box-big-top {
        margin: 20px auto 0
    }

    .zakladka-info .box-big p {
        text-align: center
    }

    .zakladka-info a.text-right {
        margin-right: 72px
    }

    .zakladki-ranking {
        margin: 20px 0px;
        font-size: .9em
    }

    .blue .zakladki-ranking a {
        text-align: center;
        padding: 0px 26px;
        width: auto;
        color: #999
    }

    .zakladki-ranking a {
        text-align: center;
        padding: 0px;
        width: 175px;
        color: #999
    }

    .zakladki-ranking.favs a {
        width: 49%
    }

    .zakladki-ranking .zakladka-active {
        color: #62ae25
    }

    .zakladki-uzytkownicy {
        margin: 20px 0px;
        font-size: .9em
    }

    .zakladki-uzytkownicy a {
        text-align: center;
        padding: 0px;
        width: 131px;
        color: #999
    }

    .zakladki-uzytkownicy .zakladka-active {
        color: #62ae25
    }

    .wykonawca-linki {
        border: 1px solid #e5e5e5;
        padding: 5px 10px;
        height: 21px
    }

    .wykonawca-linki .glo-fan {
        background: $box-bg;
    }

    .wykonawca-linki .glo-komentuj {
        background: $box-bg;
    }

    .wykonawca-linki .glo-edytuj {
        padding-left: 30px;
        background: $box-bg;
    }

    .wykonawca-linki .glo-zglos {
        padding-left: 12px;
        background: $box-bg;
    }

    .edycja .formRow {
        margin: 5px 0px;
    }

    .edycja a.close {
        margin: 0px 10px;
    }

    .edycja .formRow.action {
        text-align: right;
        margin: 10px;
    }

    .edycja .formRow.info {
        margin: 10px;
        padding: 10px;
        width: auto;
        font-size: 12px
    }

    .edycja .formRow.info ol {
        margin: 10px 20px;
    }

    .edycja .formRow.box {
        position: relative;
        border: 1px solid #ccc;
        margin: 10px;
        padding: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #CEE7FF;
        overflow: hidden
    }

    .edycja .formRow.soundtrack-box {
        position: relative
    }

    .edycja .formRow.box .group {
        margin: 15px
    }

    .edycja .formRow.box .mask {
        background-color: #CEE7FF;
        z-index: 99
    }

    .edycja .formRow.box.hidden {
        margin: 0px;
        border: 0px;
        padding: 0
    }

    .edycja .formRow.box h2 {
        color: #255EAE
    }

    .edycja .formRow.box .ytVidHref {
        color: #255EAE
    }

    .box #ytSearchResultdiv h2 {
        margin-bottom: 10px;
    }

    .center {
        text-align: center
    }

    .edycja .textarea-big {
        width: 510px;
        height: 150px;
    }

    .edycja .textarea-big.big2 {
        height: 350px;
    }

    #error404 h2 {
        color: $brand-danger;
    }

    #error404 a.return {
        color: $brand-primary;
    }

    #error404 .komunikat {
        color: #b2b2b2;
    }

    ul.autocompleter-choices {
        border: 1px solid #7c7c7c;
        border-left-color: #c3c3c3;
        border-right-color: #c3c3c3;
        border-bottom-color: #ddd;
        background-color: #fff
    }

    ul.autocompleter-choices li.autocompleter-selected {
        background-color: #444;
        color: #fff
    }

    ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
        color: lighten($brand-info, 30%)
    }

    span.checkbox {
        background: $box-bg;
    }

    .generic_dialog div.dialog_loading {
        background-color: #F2F2F2;
        border: 1px solid #606060;
    }

    .dark_dialog_overlay {
        background: $box-bg;
    }

    * html .dark_dialog_overlay {
        background-color: rgba(13, 13, 13, 0.7);
    }



    .info {
        color: #666
    }

    .info b {
        color: #000
    }

    .ytVid .duration {
        color: #FFF;
        background-color: #000;
    }

    .ytVidHref {
        color: $brand-primary
    }

    #pop_content .ytVidAddHref {
        color: $brand-primary;
    }

    #pop_content .ytVidAddHref.adult {
        color: $brand-danger
    }

    .grey-bkg {
        background-color: #1d1d1d !important
    }

    ul.arrows {
        padding-left: 0px;

        & li {
            padding-bottom: 0;

            &:before {
                content: none;
                width: 0;
                height: 0;
            }
        }
    }

    .ytVidHref span {
        color: $text-base-color;
    }

    #up_photo_link, #add_disc_link {
        color: $brand-primary;
        background: $box-bg;
    }

    a.title_link {
        color: $brand-primary-dark;
    }

    .msg-title {
        color: unset;
    }

    .msg-head {
        background: $box-bg;
    }

    .msg-head a {
        color: $brand-primary-dark;
    }

    .msg-head img {
        border: 1px solid #cdcdcd;
    }

    .box-przeboje {

        &.header {
            color: $table-header-color;
            background: $table-header-bg;
        }

        &:not(.header) {
            color: $table-color;
        }
    }

    .msg .box-przeboje.header span {
        color: unset;
    }

    .box-soundtrack .cover {
        border: 1px solid #ccc;
    }

    #msg-users .favs img {
        border: 1px solid #cdcdcd;
    }

    #msg-users .actions .delete {
        background: $box-bg;
        color: $brand-primary;
    }

    input.search-user {
        color: #999;
        background: $box-bg;
    }

    .left-column .login .new {
        color: #fff;
        background: $brand-primary-dark;
        /*background: $box-bg;*/
    }

    .blue.left-column .login .new {
        background-color: $brand-info;
    }

    #spinner {
        background-color: rgba(0, 0, 0, 0.00);
    }

    .teledysk .mobile-wrap {
        background-color: #000;
    }

    .t-artists {
        padding-top: 5px
    }

    .head-actions a {
        color: $brand-danger;
    }

    #hide-ads {
        background: $box-bg;
    }

    #hide-notify {
        background: $box-bg;
    }

    .notify-info {
        background-color: white;
        border: 1px solid #CDCECF;
        color: #545454;
    }

    a.enlarge {
        background: $box-bg;
        border: 1px solid #E5E5E5;
    }

    a.enlarge:hover {
        background-color: #EAFADA;
        border-color: #EAFADA
    }

    .edycja .text {
        color: #666
    }

    #uploadImage_browse {
        color: #fff;
        background: #3e8ad6;
        background: $box-bg;
        background: -moz-linear-gradient(top, #3e8ad6 0%, #255EAE 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e8ad6), color-stop(100%,#255EAE));
        background: -webkit-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: -o-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: -ms-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: linear-gradient(to bottom, #3e8ad6 0%,#255EAE 100%);
    }

    .blue .send-button {
        background: #3e8ad6;
        background: $box-bg;
        background: -moz-linear-gradient(top, #3e8ad6 0%, #255EAE 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e8ad6), color-stop(100%,#255EAE));
        background: -webkit-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: -o-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: -ms-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: linear-gradient(to bottom, #3e8ad6 0%,#255EAE 100%);
    }

    .blue .next-button {
        background: #3e8ad6;
        background: $box-bg;
        background: -moz-linear-gradient(top, #3e8ad6 0%, #255EAE 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e8ad6), color-stop(100%,#255EAE));
        background: -webkit-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: -o-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: -ms-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: linear-gradient(to bottom, #3e8ad6 0%,#255EAE 100%);
    }

    .next-button.disabled, .send-button.disabled {
        background-color: #ccc;
        background-image: none;
    }

    .blue .cancel {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #ff9900;
        background: $box-bg;
        background: -moz-linear-gradient(top, #ff9900px 0%, #ff6600px 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9900), color-stop(100%,#ff6600));
        background: -webkit-linear-gradient(top, #ff9900px 0%,#ff6600px 100%);
        background: -o-linear-gradient(top, #ff9900px 0%,#ff6600px 100%);
        background: -ms-linear-gradient(top, #ff9900px 0%,#ff6600px 100%);
        background: linear-gradient(to bottom, #ff9900px 0%,#ff6600px 100%);
    }

    .grey-gradient {
        background: #ffffff;
        background: $box-bg;
        background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
        background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
    }

    .blue-gradient {
        background: #3e8ad6;
        background: $box-bg;
        background: -moz-linear-gradient(top, #3e8ad6 0%, #255EAE 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e8ad6), color-stop(100%,#255EAE));
        background: -webkit-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: -o-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: -ms-linear-gradient(top, #3e8ad6 0%,#255EAE 100%);
        background: linear-gradient(to bottom, #3e8ad6 0%,#255EAE 100%);
    }

    .green-gradient {
        background: #8ed63f;
        background: $box-bg;
        background: -moz-linear-gradient(top, #8ed63f 0%, #55a31d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed63f), color-stop(100%,#55a31d));
        background: -webkit-linear-gradient(top, #8ed63f 0%,#55a31d 100%);
        background: -o-linear-gradient(top, #8ed63f 0%,#55a31d 100%);
        background: -ms-linear-gradient(top, #8ed63f 0%,#55a31d 100%);
        background: linear-gradient(to bottom, #8ed63f 0%,#55a31d 100%);
    }

    .green-gradient-rev {
        background: #55a31d;
        background: $box-bg;
        background: -moz-linear-gradient(top, #55a31d 0%, #8ed63f 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55a31d), color-stop(100%,#8ed63f));
        background: -webkit-linear-gradient(top, #55a31d 0%,#8ed63f 100%);
        background: -o-linear-gradient(top, #55a31d 0%,#8ed63f 100%);
        background: -ms-linear-gradient(top, #55a31d 0%,#8ed63f 100%);
        background: linear-gradient(to bottom, #55a31d 0%,#8ed63f 100%);
    }

    .orange-gradient {
        background: #ff9900;
        background: $box-bg;
        background: -moz-linear-gradient(top, #ff9900px 0%, #ff6600px 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9900), color-stop(100%,#ff6600));
        background: -webkit-linear-gradient(top, #ff9900px 0%,#ff6600px 100%);
        background: -o-linear-gradient(top, #ff9900px 0%,#ff6600px 100%);
        background: -ms-linear-gradient(top, #ff9900px 0%,#ff6600px 100%);
        background: linear-gradient(to bottom, #ff9900px 0%,#ff6600px 100%);
    }

    .info-box {
        border: 1px solid #CCCCCC;
    }
}
