/* ### Variables ### */

// Colors
$gray-base:             #131313 !default;
$gray-darker:           #1C1C1C !default;
$gray-dark:             #272727 !default;
$gray:                  #666    !default;
$gray-light:            #999    !default;
$gray-lighter:          #CCC    !default;

// Brand colors
$brand-primary:         #74be2f !default;
$brand-primary-dark:    #62ae25 !default;
$brand-info:            #255EAE !default;
$brand-warning:         #E46C2C !default;
$brand-danger:          #970000 !default;


// Background color for `<body>`.
$body-bg: $gray-base !default;

// Boxes, containers
$box-bg: $gray-darker;
$box-light-bg: $gray-dark;

// Global text color on `<body>`.
$text-base-color: #909090 !default;
$text-light-color: lighten($text-base-color, 30%);
$text-dark-color: darken($text-base-color, 10%);

// Headers color
$header-1-color: $brand-primary-dark;
$header-2-color: lighten($text-base-color, 8%);
$header-3-color: lighten($text-base-color, 8%);
$header-4-color: lighten($text-base-color, 8%);
$header-5-color: lighten($text-base-color, 8%);
$header-6-color: lighten($text-base-color, 8%);

// Links color
$link-color: lighten($text-base-color, 8%);
$link-hover-color: lighten($link-color, 15%);

// Primary links color
$link-primary-color: $brand-primary;
$link-primary-hover-color: lighten($link-primary-color, 5%);

// Info links color
$link-info-color: $brand-info;
$link-info-hover-color: lighten($link-info-color, 5%);

// Warning links color
$link-warning-color: $brand-warning;
$link-warning-hover-color: lighten($link-warning-color, 5%);

// Danger links color
$link-danger-color: $brand-danger;
$link-danger-hover-color: lighten($link-danger-color, 5%);

// Block link with background change on hover & focus
// Button-like, usually displayed as block
$link-block-color: $link-color;
$link-block-bg: $box-bg;
$link-block-hover-color: $link-hover-color;
$link-block-hover-bg: lighten($link-block-bg, 5%);

// Navbar links
$navbar-link-color: lighten($link-color, 10%);
$navbar-link-bg: $box-bg;
$navbar-link-hover-color: lighten($navbar-link-color, 5%);
$navbar-link-hover-bg: lighten($navbar-link-bg, 5%);

// Navbar active links
$navbar-link-active-color: lighten($navbar-link-color, 10%);
$navbar-link-active-bg: $brand-primary-dark;
$navbar-link-active-hover-color: lighten($navbar-link-active-color, 100%);
$navbar-link-active-hover-bg: $brand-primary;

// Pagination
$pagination-color: $brand-danger;

// Border colors
$border-base-color: $gray;
$border-light-color: lighten($border-base-color, 20%);
$border-dark-color: darken($border-base-color, 20%);

// Border width
$border-base-width: 1px;

// Border style
$border-base-style: solid;

// Controls, inputs, textareas
$input-base-color: lighten($text-base-color, 10%);
$input-base-bg: lighten($box-light-bg, 5%);

// Labels
$label-base-color: lighten($text-base-color, 5%);
$label-base-bg: $box-bg;

// Base button
$button-base-color: lighten($text-base-color, 35%);
$button-base-bg: $box-bg;
$button-base-hover-color: lighten($button-base-color, 5%);
$button-base-hover-bg: lighten($button-base-bg, 5%);
$button-base-border-width: $border-base-width;
$button-base-border-style: $border-base-style;
$button-base-border-color: $border-base-color;

// Box button
$button-box-color: $button-base-color;
$button-box-bg: lighten($box-light-bg, 5%);
$button-box-hover-color: $button-box-color;
$button-box-hover-bg: lighten($button-box-bg, 5%);
$button-box-border-width: $button-base-border-width;
$button-box-border-style: $button-base-border-style;
$button-box-border-color: $button-base-border-color;

// Primary button
$button-primary-color: $button-base-color;
$button-primary-bg: $brand-primary-dark;
$button-primary-hover-color: $button-primary-color;
$button-primary-hover-bg: lighten($button-primary-bg, 5%);

// Facebook button
$button-facebook-color: $button-base-color;
$button-facebook-bg: $brand-info;
$button-facebook-hover-color: $button-facebook-color;
$button-facebook-hover-bg: lighten($button-facebook-bg, 5%);

// Images
$image-border-width: $border-base-width;
$image-border-style: $border-base-style;
$image-border-color: $gray-lighter;

// Modals - base
$modal-base-color: $text-base-color;
$modal-base-bg: $box-bg;
$modal-base-border-color: $body-bg;
$modal-base-header-color: $text-light-color;
$modal-base-header-bg: $brand-primary-dark;

// Modals - info
$modal-info-color: $modal-base-color;
$modal-info-bg: $modal-base-bg;
$modal-info-border-color: $modal-base-border-color;
$modal-info-header-color: $modal-base-header-color;
$modal-info-header-bg: $brand-info;

// Modals - warning
$modal-warning-color: $modal-base-color;
$modal-warning-bg: $modal-base-bg;
$modal-warning-border-color: $modal-base-border-color;
$modal-warning-header-color: $modal-base-header-color;
$modal-warning-header-bg: $brand-warning;

// Modals - danger
$modal-danger-color: $modal-base-color;
$modal-danger-bg: $modal-base-bg;
$modal-danger-border-color: $modal-base-border-color;
$modal-danger-header-color: $modal-base-header-color;
$modal-danger-header-bg: $brand-danger;
