/* Rules that affect buttons */

// Remove border
.btn-light2 {
    border: none;
}

// Remove buton border radius
.btn,
.search-box .inner .search-form .submit {
    border-radius: 0;
}

.blue-box input.search-send,
input.search-send {
    background: transparent;
    border: 1px solid $border-dark-color;
    width: 60px;
    height: 23px;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 23px;
    z-index: 60;
}

// Search button after
.btn-secondary,
.search-box .inner .search-form .submit {
    color: $button-secondary-color;
    background: $button-secondary-bg;
    border: none;

    &:hover, &:focus {
        color: $button-secondary-hover-color;
        background: $button-secondary-hover-bg;
    }

    &:not(:disabled):not(.disabled):active {
        color: $button-secondary-active-color;
        background: $button-secondary-active-bg;
    }
}

// Login containter
div.left-column div.left-box-content fieldset.login {
    margin: 10px 20px;
    height: 30px;
    // Login button
    & > .login-send {
        background: none;
        position: relative;
        margin-top: 0px;
        height: 0px;
        width: 0px;

        &:after, &:hover:after, &:focus:after {
            color: $button-primary-color;
            background: $button-primary-bg;
            border: 1px solid $border-dark-color;
            display: block;
            padding: 6px 20px;
            font-weight: bold;
            position: absolute;
            top: 0px;
            left: 0px;
            cursor: pointer;
            content: "Zaloguj";
        }

        &:hover:after, &:focus:after {
            color: $button-primary-hover-color;
            background: $button-primary-hover-bg;
        }
    }
    // Facebook login button
    & .fb-button {
        background: none;
        position: relative;
        margin-top: 0px;
        height: 0px;
        top: 0px;

        &:after, &:hover:after, &:focus:after {
            color: $button-info-color;
            background: $button-info-bg;
            border: 1px solid $border-dark-color;
            display: block;
            padding: 6px 14px 6px 26px;
            font-weight: bold;
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
            content: "Zaloguj";
        }

        &:hover:after, &:focus:after {
            color: $button-info-hover-color;
            background: $button-info-hover-bg;
        }

        &:before {
            color: $button-info-color;
            position: absolute;
            top: -3px;
            left: 15px;
            font-weight: bold;
            font-size: 24px;
            z-index: 1;
            content: "f";
        }
    }
}

// Add comment button.
input.addcomm-button[type=submit] {
    background: transparent;
    border: 1px solid $border-dark-color;
    width: 116px;
    height: 25px;
    padding: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 60;
}

// Add comment button after.
#addCommentForm > fieldset > div.formRow.text-center {
    position: relative;

    &::after {
        color: $button-primary-color;
        background: $button-primary-bg;
        padding: 3.5px 13px;
        font-weight: bold;
        position: absolute;
        top: 9px;
        right: 290px;
        z-index: 40;
        content: "Dodaj komentarz";
    }
}

// Modals choice buttons.
td.pop_content .dialog_buttons input {
    margin-left: 0px;
}

td.pop_content .dialog_buttons input:not(:first-of-type) {
    margin-left: 10px;
}

td.pop_content .dialog_buttons input {
    color: $button-box-color;
    background: $button-box-bg;
    border: 1px solid $border-dark-color;
    padding: 6px 16px;
    font-weight: bold;

    &:focus, &:hover {
        color: $button-box-hover-color;
        background: $button-box-hover-bg;
    }
}

// Print song lyrics link.
.drukuj {
    color: $link-block-color;
    background: $link-block-bg;
    transition: none;

    &:focus,
    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: $link-block-hover-color;
        background: $link-block-hover-bg;
    }
}

// Show song's translation.
div.tlumaczenie {
    & > a.pokaz-tlumaczenie {
        color: $link-block-color;
        background: $link-block-bg;
        padding: 5px 10px 5px 10px;
        text-decoration: none;

        &:focus, &:hover {
            color: $link-block-hover-color;
            background: $link-block-hover-bg;
            text-decoration: none;
        }
    }

    & > h2 + a.pokaz-tlumaczenie {
        margin-left: 10px;
        padding-right: 43px;
    }
}

// Show song revision history.
.pokaz-rev,
.blue .pokaz-rev {
    color: $link-block-color;
    background: $link-block-bg;
    border: none;
    border-radius: 0px;
    padding: 2px 12px;

    &:focus, &:hover {
        color: $link-block-hover-color;
        background: $link-block-hover-bg;
    }

    &.opened {
        border-radius: 0px;
    }
}

// Send message button.
#msg-users .actions,
.user-info {

    & .send,
    & .delete {
        color: $link-color;
        background: unset;
        width: 100%;

        &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled).active,
        &:not(:disabled):not(.disabled):active {
            color: $link-block-color;
            background: $link-block-bg;
        }
    }
}

#msg-users .favs img {
    padding: 0;
    border: none;
}

// Green button general rules
.green-button,
.send-button {
    color: $button-primary-color;
    background: $button-primary-bg;
    @include border($button-primary-border-width, $button-primary-border-style, $button-primary-border-color);
    padding: 6px 20px;
    line-height: unset;

    &:hover, &:focus {
        color: $button-primary-hover-color;
        background: $button-primary-hover-bg;
    }
}

.login_box .green-button {
    width: unset;
    height: unset;
    padding: 8px 38px;
    margin: 12px 20px;
}

.btn-primary {
    color: $button-primary-color;
    background: $button-primary-bg;
    border-radius: 0px;
    border-width: 0px;
    transition: none;

    &:hover, &:focus, &:active {
        color: $button-primary-hover-color;
        background: $button-primary-hover-bg;
    }
}

// Edit song's metadata
.metric a.edit {
    top: -27px;
}
