/* Rules that affect buttons */

.blue-box input.search-send,
input.search-send {
    background: transparent;
    border: 1px solid $border-dark-color;
    width: 60px;
    height: 23px;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 23px;
    z-index: 60;
}

// Search button after
fieldset.search {
    position: relative;

    &::after {
        color: $button-primary-color;
        background: $button-primary-bg;
        padding: 2.5px 12px;
        font-weight: bold;
        position: absolute;
        top: 1px;
        right: 24px;
        z-index: 40;
        content: "Szukaj";
    }
}

// Login containter
div.left-column div.left-box-content fieldset.login {
    margin: 10px 20px;
    height: 30px;
    // Login button
    & > .login-send {
        background: none;
        position: relative;
        margin-top: 0px;
        height: 0px;
        width: 0px;

        &:after, &:hover:after, &:focus:after {
            color: $button-primary-color;
            background: $button-primary-bg;
            border: 1px solid $border-dark-color;
            display: block;
            padding: 6px 20px;
            font-weight: bold;
            position: absolute;
            top: 0px;
            left: 0px;
            cursor: pointer;
            content: "Zaloguj";
        }

        &:hover:after, &:focus:after {
            color: $button-primary-hover-color;
            background: $button-primary-hover-bg;
        }
    }
    // Facebook login button
    & .fb-button {
        background: none;
        position: relative;
        margin-top: 0px;
        height: 0px;
        top: 0px;

        &:after, &:hover:after, &:focus:after {
            color: $button-info-color;
            background: $button-info-bg;
            border: 1px solid $border-dark-color;
            display: block;
            padding: 6px 14px 6px 26px;
            font-weight: bold;
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
            content: "Zaloguj";
        }

        &:hover:after, &:focus:after {
            color: $button-info-hover-color;
            background: $button-info-hover-bg;
        }

        &:before {
            color: $button-info-color;
            position: absolute;
            top: -3px;
            left: 15px;
            font-weight: bold;
            font-size: 24px;
            z-index: 1;
            content: "f";
        }
    }
}

// Add comment button.
input.addcomm-button[type=submit] {
    background: transparent;
    border: 1px solid $border-dark-color;
    width: 116px;
    height: 25px;
    padding: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 60;
}

// Add comment button after.
#addCommentForm > fieldset > div.formRow.text-center {
    position: relative;

    &::after {
        color: $button-primary-color;
        background: $button-primary-bg;
        padding: 3.5px 13px;
        font-weight: bold;
        position: absolute;
        top: 9px;
        right: 290px;
        z-index: 40;
        content: "Dodaj komentarz";
    }
}

// Modals choice buttons.
td.pop_content .dialog_buttons input {
    margin-left: 0px;
}

td.pop_content .dialog_buttons input:not(:first-of-type) {
    margin-left: 10px;
}

td.pop_content .dialog_buttons input {
    color: $button-box-color;
    background: $button-box-bg;
    border: 1px solid $border-dark-color;
    padding: 6px 16px;
    font-weight: bold;

    &:focus, &:hover {
        color: $button-box-hover-color;
        background: $button-box-hover-bg;
    }
}

// Show song revision history.
.pokaz-rev,
.blue .pokaz-rev {
    color: $button-box-color;
    background: $button-box-bg;
    border-width: $button-box-border-width;
    border-style: $button-box-border-style;
    border-color: $button-box-border-color;
    border-radius: 0px;
    padding: 2px 12px;

    &.opened {
        border-radius: 0px;

        & .icon {
            background: $button-box-bg;
        }
    }

    & .icon {
        display: block;
        width: 12px;
        height: 12px;
        float: right;
        background: $button-box-bg;
        margin-top: 8px
    }
}

// Green button general rules
.green-button,
.send-button {
    color: $button-primary-color;
    background: $button-primary-bg;
    @include border($button-primary-border-width, $button-primary-border-style, $button-primary-border-color);
    padding: 6px 20px;
    line-height: unset;

    &:hover, &:focus {
        color: $button-primary-hover-color;
        background: $button-primary-hover-bg;
    }
}

.login_box .green-button {
    width: unset;
    height: unset;
    padding: 8px 38px;
    margin: 12px 20px;
}

.btn-primary {
    background: $button-primary-bg;
    border-radius: 0px;
    border-width: 0px;
    transition: none;

    &:hover, &:focus, &:active {
        background: $button-primary-hover-bg;
    }
}