/* Rules that affect all kind of containers */

#center,
.top-row,
.right-column {
    background: $body-bg;
}

// Set background color for all kind of boxes and containers.
.box-big,
.box-przeboje,
.login-wrap,
.search-box,
.content-belka,
.content-belka-long,
.content-belka-left,
.content-belka-right,
.dodaj-soundtrack,
.dodaj-tekst,
.glosowanie,
.komentarz .bar,
.metric,
.revisions,
.teledysk-left-top,
.teledysk-left-bottom,
.user-info,
.zaproponuj-utwor,
.green-box,
.green-box .left-side,
.green-box .right-side,
.blue-box,
.blue-box .left-side,
.blue-box .right-side,
#center .left-corner,
#center .right-corner,
.big-buttons div,
.left-box,
.left-box-top,
.left-box-bottom,
.left-box-top-green,
.left-box-bottom-green,
.left-box-content,
.left-box-content-green,
.blue .left-box-top-green,
.blue .left-box-bottom-green,
.blue .left-box-content-green,
fieldset.login,
.right-column .belka,
div#center > div.right-column > div:nth-child(6),
div#center > div.right-column > div.teledysk-right-top,
div#center > div.right-column > div.teledysk-right {
    background: $box-bg;
}

// Set no background for between top navbar and search box
.topbar {
    background: initial;
}

// Set no background for foot bar
.footbar {
    background: initial;
}

// Set no background for song metric
.metric tr:nth-of-type(odd),
.box-przeboje:nth-of-type(even) {
    background: initial;
}

// Override the background fo popular songs container.
.box-przeboje.no-bg {
    background: $box-bg !important;
}

// Song title bar
.belka {
    width: 100%;
}

// Reset border radius for search container
.search-box {
    border-radius: 0;
}

// Footer.
div#bottom {
    padding: 20 0 10;
}

// User profile card container
.card {
    display: initial;
}

// Popular artists.
div.popularni {
    margin-top: 10;
    height: 216px;
}

.box-big {
    width: 518px;
    border: none;
    padding: 5px 5px 5px 8px
}

// Song header containers, under music video.
.teledysk-left, .teledysk-right {
    padding: 0;
    height: 72px;
    border: none;
}

.teledysk-left,
.teledysk-left .box-przeboje {
    width: auto;
}

.box-przeboje {
    width: auto;
}

.teledysk-left-top,
.teledysk-left-bottom {
    width: auto;
}

.teledysk-right {
    width: 335px;
    height: 40;
    padding: 16px 15px;
}

// Load more comments container.
.comm_show_more {
    border: none;
    height: initial;
    text-align: center;
    margin: 20 auto;
}

// Metric container with song details info.
.metric {
    border: none;
}

// Song voting box right under the metric container.
.glosowanie-top {
    background: unset;
    width: initial;
    height: 5px;
}

.glosowanie {
    border: none;
    width: initial;
}

// User profile container.
.user-info {
    border: none;
}

// Child container of site content.
.content .box-przeboje {
    width: 521px;
}
