/* Rules that affect textareas */

textarea, textarea.textarea-comm {
    border: 1px solid $border-base-color;
    min-height: 80px !important;
    height: auto;
    resize: vertical;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
.blue-box input.search-text,
input.search-text,
textarea,
textarea.textarea-comm,
.form-control {
    color: $input-base-color;
    background: $input-base-bg;
    border: none;
    border-width: 0px;
    border-radius: 0px;

    &::placeholder {
        color: $input-base-placeholder-color;
    }

    &:hover {
        color: $input-base-hover-color;
        background: $input-base-hover-bg;

        &::placeholder {
            color: $input-base-placeholder-hover-color;
        }
    }

    &:active, &:focus {
        color: $input-base-focus-color;
        background: $input-base-focus-bg;

        &::placeholder {
            color: $input-base-placeholder-focus-color;
        }
    }
}

input[type="submit"]:enabled,
input[type="button"]:enabled,
button:enabled {
    cursor: pointer;
}

// Remove Bootstrap outline
a,
button,
textarea,
input,
label,
.form-control,
.focus,
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
}
