/* Rules that affect textareas */

textarea, textarea.textarea-comm {
    border: 1px solid $border-base-color;
    min-height: 80px !important;
    height: auto;
    resize: vertical;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
.blue-box input.search-text,
input.search-text,
textarea,
textarea.textarea-comm {
    color: $input-base-color;
    background: $input-base-bg;
    border: none;
    border-width: 0px;
    border-radius: 0px;
}

input[type="submit"]:enabled,
input[type="button"]:enabled,
button:enabled {
    cursor: pointer;
}
