/* Rules that affect facebook plugin */

ul.topmenu li.fb a {
    background-color: $button-info-bg;
    background-image: none;
}

ul.topmenu li.fb a span {
    background: $box-bg;
}

ul.topmenu li.fb a {
    &:hover, & span:hover {
        background-color: $button-info-hover-bg;
    }
}

// Facebook sign-in box in modal.
.fb-box {
    background-color: $box-light-bg;
    border: none;
    border-radius: 0px;
    color: unset;
}

// Sideways slide-in Facebook fanpage modal.
.fb-panel {
    background: unset;
    color: unset;
    top: 28%;
    bottom: unset;

    & a {
        background: $button-info-bg;
        bottom: 68px;

        &:before {
            color: $button-info-color;
            position: absolute;
            top: -3px;
            left: 11px;
            font-weight: bold;
            font-size: 36px;
            z-index: 1010;
            content: "f";
        }
    }
}
