/* Rules that affect icons */

// Global filter for icons.
.icon {
    filter: invert(0.45);
}

// Voting icons
a.na-plus,
a.na-minus {
    background: $link-block-bg;
    position: relative;

    &:hover, &:focus {
        background: $link-block-hover-bg;
    }
}


// Voting plus icon
a.na-plus {
    &:before,
    &:after {
        position: absolute;
        top: 5px;
        left: 12px;
        display: block;
        height: 16px;
        width: 2px;
        background: $brand-primary-dark;
        content: "";
    }

    &:after {
        transform: rotate(90deg);
    }
}

// Voting minus icon
a.na-minus {
    &:before {
        position: absolute;
        top: 5px;
        left: 12px;
        display: block;
        height: 16px;
        width: 2px;
        background: $brand-danger;
        transform: rotate(90deg);
        content: "";
    }
}

// Voting icons on ranking list
.ranking-lista {

    a.na-plus,
    a.na-minus {
        top: 5px;
        height: 20px;
        width: 20px;
        background: $box-bg;

        &:hover, &:focus {
            background: $link-block-hover-bg;
        }

        &:before,
        &:after {
            top: 2px;
            left: 9px;
            height: 16px;
        }
    }
}

// Translation icon on song list
.icon_pl {

    &:after {
        color: darken($text-light-color, 8%);
        line-height: 0px;
        text-transform: uppercase;
        top: 9px;
        left: 3px;
        position: absolute;
        content: 'pl';
    }
}

// Music video icon on song list
.icon_kamera {

    &:before,
    &:after {
        position: absolute;
        content: '';
    }

    &:before {
        background: $text-base-color;
        width: 12px;
        height: 10px;
        border-radius: 2px;
        top: 4px;
        left: 1.5px;
    }

    &:after {
        border-style: solid;
        border-width: 4px 5px 4px 0px;
        border-color: transparent;
        border-right-color: $text-base-color;
        top: 5px;
        left: 12px;
    }
}

// Top 5 icon
body div#contener div#center > div.left-column > div:nth-child(6) > h3.marginb10.margint5 {
    & > img {
        width: 0px;
        height: 0px;
        margin: 0px 4px;
        vertical-align: 0px;
    }

    &:before {
        content: "5";
        position: absolute;
        left: 43px;
    }
}

// Popular artists to left arrow.
a#art_box_left {
    width: 0px;
    height: 0px;
    background: transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 27px solid lighten($link-block-bg, 6%);
    top: 71px;
    left: 10px;

    &:hover, &:focus {
        border-right: 27px solid lighten($link-block-bg, 12%);
    }
}

// Popular artists to right arrow.
a#art_box_right {
    width: 0px;
    height: 0px;
    background: transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 27px solid lighten($link-block-bg, 6%);
    top: 71px;
    right: 10px;

    &:hover, &:focus {
        border-left: 27px solid lighten($link-block-bg, 12%);
    }
}

// Show song's translation icon.
div.tlumaczenie > h2 + a.pokaz-tlumaczenie {
    position: relative;

    &:after {
        color: $link-block-color;
        font-family: serif;
        font-weight: 100;
        letter-spacing: 2px;
        position: absolute;
        right: 10px;
        top: 5px;
        content: 'A某';
    }

    &:hover:after, &:focus:after {
        color: $link-block-hover-color;
    }
}

// Send message icon.
#msg-users .actions,
.user-info {

    & .send {
        color: $link-primary-color;
        background: $link-block-bg;
        padding: 8px 28px 8px 54px;
        margin: unset;
        text-decoration: none;
        position: relative;

        &:before, &:after {
            position: absolute;
            background: transparent;
            content: '';
        }

        &:before {
            z-index: 10;
            top: 3px;
            left: 25.5px;
            width: 14px;
            height: 14px;
            border-width: 0px 1px 1px 0px;
            border-radius: 0px 0px 2px 0px;
            border-style: solid;
            border-color: $link-block-bg;
            transform: rotate(45deg);
        }

        &:after {
            border: 6px solid $link-primary-color;
            width: 6px;
            left: 24px;
            top: 11px;
        }

        &:hover, &:focus {
            color: $link-primary-hover-color;
            background: $link-block-hover-bg;
            text-decoration: none;

            &:before {
                border-color: $link-block-hover-bg;
            }

            &:after {
                border-color: $link-primary-hover-color;
            }
        }
    }
}

