/* Rules that affect icons */

// Global filter for icons.
.icon {
    filter: invert(0.45);
}

// Voting icons
a.na-plus,
a.na-minus {
    background: none;
    position: relative;
    margin: 0;

    &:hover, &:focus {
        background: $link-block-hover-bg;
        opacity: 1;
    }
}


// Voting plus icon
a.na-plus {
    &:before,
    &:after {
        position: absolute;
        top: 5px;
        left: 12px;
        display: block;
        height: 16px;
        width: 2px;
        background: $brand-primary-dark;
        content: "";
    }

    &:after {
        transform: rotate(90deg);
    }
}

// Voting minus icon
a.na-minus {
    &:before {
        position: absolute;
        top: 5px;
        left: 12px;
        display: block;
        height: 16px;
        width: 2px;
        background: $brand-danger;
        transform: rotate(90deg);
        content: "";
    }
}

// Voting icons on ranking list
.ranking-lista {

    a.na-plus,
    a.na-minus {
        top: 5px;
        height: 20px;
        width: 20px;
        background: none;

        &:hover, &:focus {
            background: $link-block-hover-bg;
        }

        &:before,
        &:after {
            top: 2px;
            left: 9px;
            height: 16px;
        }
    }
}

// Voting icons on song comments
.komentarz {
    & .bar {
        & .icons {
            & a {
                margin: 0;

                &:hover, &:focus, &:active {
                    background-color: $link-block-hover-bg;
                }
            }
        }
    }
}

// Translation icon on song list
.box-przeboje .icon.i18 {
    filter: none;
}

// Music video icon on song list
.icon_kamera {
    filter: none;
    /*    &:before,
    &:after {
        position: absolute;
        content: '';
    }

    &:before {
        background: $text-base-color;
        width: 12px;
        height: 10px;
        border-radius: 2px;
        top: 4px;
        left: 1.5px;
    }

    &:after {
        border-style: solid;
        border-width: 4px 5px 4px 0px;
        border-color: transparent;
        border-right-color: $text-base-color;
        top: 5px;
        left: 12px;
    }*/
}

// Top 5 icon
body div#contener div#center > div.left-column > div:nth-child(6) > h3.marginb10.margint5 {
    & > img {
        width: 0px;
        height: 0px;
        margin: 0px 4px;
        vertical-align: 0px;
    }

    &:before {
        content: "5";
        position: absolute;
        left: 43px;
    }
}

// Popular artists arrows.
// Popular artists to right arrow.
.to-left,
.to-right {
    border-color: lighten($link-block-bg, 6%);
    border-right-width: 5px;
    border-bottom-width: 5px;

    &:hover,
    &:focus {
        border-color: lighten($link-block-bg, 12%);
    }
}

// Show song's translation icon.
div.tlumaczenie > h2 + a.pokaz-tlumaczenie {
    position: relative;

    &:after {
        color: $link-block-color;
        font-family: serif;
        font-weight: 100;
        letter-spacing: 2px;
        position: absolute;
        right: 10px;
        top: 5px;
        content: 'A某';
    }

    &:hover:after, &:focus:after {
        color: $link-block-hover-color;
    }
}

// Revision hour and date icons
.revisions {
    & .date, & .hour {
        background-position: unset;
        background-size: 14px;
    }
}

// Song with translation
.icon_pl {
    filter: none;
}

// Song with music video
.icon_kamera {
    filter: none;
}

// Instrumental song
.icon_inst {
    filter: none;
}

// Cancel
.icon_cancel {
    filter: none;
}
