/* Rules that affect labels */

// Move label for song author to the left, so 'Search' button have more space
fieldset > label.big-text[for=s-autor] {
    margin: 0px 10px 0px 0px;
}

label,
fieldset.search label.mini {
    color: $label-base-color;
    background: $label-base-bg;
}
