/* Rules that affect anchor links */

// Global links color
a,
a.search-adv,
.metric a,
.belka .link-wykonawca {
    color: $link-color;
    text-decoration: none;

    &:hover, &:focus {
        color: $link-hover-color;
        text-decoration: none;
    }

    &.green, &.edit {
        color: $link-primary-color;
        text-decoration: none;

        &:hover, &:focus {
            color: $link-primary-hover-color;
            text-decoration: none;
        }
    }
}

// Alphabet
ul.alfabet li a {
    color: $link-color;
    padding: 4px 7.5px;
    width: initial;
    height: initial;

    &:hover, &:focus {
        color: $link-hover-color;
        background: $box-light-bg;
    }
}

ul.nav.alfabet li a {
    &:hover, &:focus {
        color: $brand-danger;
    }
}

// Add song/sountrack
.dodaj-soundtrack,
.dodaj-tekst,
.zaproponuj-utwor {
    color: $link-color;
    line-height: initial;
    display: block;
    height: initial;
    width: initial;
    padding: 8.63px 6px;
    margin-top: 0px;

    &:hover, &:focus {
        color: $link-hover-color;
        background: $box-light-bg;
    }
}

// Add song/sountrack big buttons
.big-buttons,
.show > .big-buttons {
    background: unset;
    margin-top: 0;
    margin-bottom: 10px;

    & a,
    & a.dropdown-toggle {
        border-width: 0px;
        border: none;
        color: $link-color;
        background: $link-block-bg;
        margin-right: 0;
        margin-bottom: 12px;
        padding: 14px 10px;

        &:hover,
        &.focus,
        &:focus,
        &:not(:disabled):not(.disabled).active,
        &:not(:disabled):not(.disabled):active {
            color: $link-hover-color;
            background: $link-block-hover-bg;
        }

        &.disabled,
        &:disabled {
            background: darken($link-block-bg, 5%);
        }

        &:nth-child(3n+1) {
            margin-right: 0;
        }

        &:nth-child(3n+3) {
            margin-top: 0;
            margin-bottom: 0;
        }

        &:last-of-type {
            border-radius: 0;
        }
    }

    & .icon {
        fill: #fff;
        margin-right: .5rem
    }
}

/*.soundtracks .big-buttons a {
    color: #fff;
    background: #255eae linear-gradient(180deg,#4676ba,#255eae) repeat-x;
    border-color: #255eae
}

.soundtracks .big-buttons a.focus,
.soundtracks .big-buttons a:focus,
.soundtracks .big-buttons a:hover {
    color: #fff;
    background: #1e4d8e linear-gradient(180deg,#40689f,#1e4d8e) repeat-x;
    border-color: #1c4784
}

.soundtracks .big-buttons a.focus,
.soundtracks .big-buttons a:focus {
    box-shadow: 0 0 0 .2rem rgba(70,118,186,.5)
}

.soundtracks .big-buttons a.disabled,
.soundtracks .big-buttons a:disabled {
    color: #fff;
    background-color: #255eae;
    border-color: #255eae;
    background-image: none
}

.show > .soundtracks .big-buttons a.dropdown-toggle,
.soundtracks .big-buttons a:not(:disabled):not(.disabled).active,
.soundtracks .big-buttons a:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1c4784;
    background-image: none;
    border-color: #1a4279
}

.show > .soundtracks .big-buttons a.dropdown-toggle:focus,
.soundtracks .big-buttons a:not(:disabled):not(.disabled).active:focus,
.soundtracks .big-buttons a:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(70,118,186,.5)
}

.big-buttons a:nth-child(3n+3) {
    margin-bottom: 10px
}

@media (min-width:375px) {
    .big-buttons {
        & a {
            margin: 10px;

            &:nth-child(3n+1) {
                margin-right: 0
            }

            &:nth-child(3n+3) {
                margin-top: 0
            }
        }
    }
}

@media (min-width:500px) {
    .big-buttons a:nth-child(3n+3) {
        margin-top: 10px;
        margin-left: 0
    }
}*/

// Change the fixed size of containers for add song/soundtrack links
body div#contener div#center div.big-buttons {
    & div,
    & div.marginb5 {
        width: initial;
        height: initial;
        text-align: center;
    }
}

// Go to rankings link
body div#contener div#center > div.right-column > div.box-lista > div.box-content {
    margin-bottom: 0px;

    & a.bold.text-right.block {
        background: $body-bg;
        margin: 0px !important;
        font-weight: initial;
        padding-top: 5px;
    }
}

// Links in popular artists container.
div#art_box_move.to-move {
    top: 46px;

    & > div#art_box a.popularny {
        margin: 0px;
        padding: 7px;
        width: 76px;
        height: 135px;

        & b.fanow {
            width: 100%;
            bottom: 7px;
            font-weight: bold;
        }

        &:hover, &:focus {
            background: $box-light-bg;

            & b.fanow {
                color: $link-primary-hover-color;
            }
        }
    }
}

// Show more comments, show related comment link.
.comm_show_more a {
    background: $link-block-bg;
}

.comm_show_more a, .komentarz p a {
    color: $link-primary-color;
    padding: 6px 12px;

    &:hover {
        color: $link-primary-hover-color;
        background: $link-block-hover-bg;
    }
}

.blue .comm_show_more a, .blue .komentarz p a {
    color: $link-info-color;

    &:hover {
        color: $link-info-hover-color;
    }
}

// Link to comment author on comment bar.
.komentarz .bar a,
.komentarz .bar strong {
    color: $link-primary-color;

    &:hover {
        color: $link-primary-hover-color;
    }
}

.blue .komentarz .bar a,
.blue .komentarz .bar strong {
    color: $link-info-color;

    &:hover {
        color: $link-info-hover-color;
    }
}

// Links on left navbar for signed in user.
ul.login, .blue ul.login {
    margin: 0px -9px;

    & li {
        & a {
            padding: 6.5px 14px 6.5px 24px;
            margin-bottom: 0;
            margin-top: 0;
            display: block;
            width: initial;
            background-position-y: center;
            background-position-x: left;

            &:hover, &:focus {
                color: $link-hover-color;
            }
        }

        &:hover, &:focus {
            background: $box-light-bg;
        }
    }
}

// Add negative horizontal margin
// to counterweight padding
// in order to create full-width anchor links.
div.left-box-content {

    & > ul.arrows {
        margin-left: -9px;
        margin-right: -9px;
    }
}

// Remove background color and border color for signed in user links
.left-box,
.soundtracks .left-box {
    &.bg-green {
        background: initial;
        border-color: initial;
    }
}
// Links under sign in buttons on left navbar.
ul.arrows {
    float: none !important;

    & > li {
        list-style: none;
        margin: 0px;

        & a,
        & a.green,
        & a.blue {
            color: $link-block-color;
            background: $link-block-bg;
            padding: 5px 14px 5px 24px;
            display: block;

            &:hover, &:focus {
                color: $link-block-hover-color;
                background: $link-block-hover-bg;
            }
        }
    }
}

// Top 5 user profiles on left navbar.
.top5 {
    width: 100%;
    margin: 3px 0px;
    padding: 0px;

    & img {
        @include border($image-border-width, $image-border-style, $image-border-color);
        padding: 0px;
    }

    & span {
        color: $link-primary-color;
    }

    &:hover, &:focus {
        background: $link-block-hover-bg;

        & span {
            color: $link-primary-hover-color;
        }
    }
}

// Print song lyrics link.
.drukuj {
    color: $link-block-color;
    background: $link-block-bg;

    &:focus, &:hover {
        color: $link-block-hover-color;
        background: $link-block-hover-bg;
    }
}

// Show song's translation.
div.tlumaczenie {
    & > a.pokaz-tlumaczenie {
        color: $link-block-color;
        background: $link-block-bg;
        padding: 5px 10px 5px 10px;
        text-decoration: none;

        &:focus, &:hover {
            color: $link-block-hover-color;
            background: $link-block-hover-bg;
            text-decoration: none;
        }
    }

    & > h2 + a.pokaz-tlumaczenie {
        margin-left: 10px;
        padding-right: 43px;
    }
}

// Link to song's author page on header bar.
.belka .link-wykonawca {
    background: unset;
}

// LLinks on voting bar.
.glosowanie .glo-links {
    margin-top: 4.5px;
}
