/* Rules that affect site logo */

// Convert brand logo to text
body > div#contener > div.top-top > a {

    &:before {
        position: absolute;
        top: 10;
        left: 20;
        color: $brand-primary;
        font-size: 42px;
        content: "tekstowo.pl";
    }

    &:after {
        position: absolute;
        top: 58px;
        padding-left: 25px;
        color: $text-base-color;
        font-size: 14px;
        font-style: italic;
        content: "teraz możesz je przeczytać";
    }

    & > img {
        display: none;
    }
}

// Hide "Teksty piosenek" anchor link under logo
body > div#contener div#center > div.left-corner {
    display: none;
}
