/* Rules that affect site navbar */

// Change background for navbars
ul.topmenu,
.topmenu > ul li,
ul.topmenu li.topmenu-first,
ul.topmenu li.topmenu-last,
ul.topmenu li.topmenu-last.fb,
ul.topmenu li a,
li.topmenu-last a {
    background: $navbar-link-bg;
}

// Main navbar
ul.topmenu li a,
li.topmenu-last a {
    color: $navbar-link-color;
    background: $navbar-link-bg;

    &:hover, &:focus {
        color: $navbar-link-hover-color;
        background: $navbar-link-hover-bg;
    }

    &.active {
        color: $navbar-link-active-color;
        background: $navbar-link-active-bg;

        &:hover, &:focus {
            color: $navbar-link-active-hover-color;
            background: $navbar-link-active-hover-bg;
        }
    }

    &.no-bg {
        &:hover, &:focus {
            background: $navbar-link-hover-bg !important;
        }

        &.active {
            background: $navbar-link-active-bg !important;

            &:hover, &:focus {
                background: $navbar-link-active-hover-bg !important;
            }
        }
    }
}

// Reset the background of site stats under navbar
body > div#contener div#center div.right-corner {
    padding: 0px;
    background: $body-bg;
    font-size: .9em;
    font-weight: initial;
}
