/* Rules that affect site tabs for switching between content */

.tabs {

    & a,
    & a.recived,
    & a.sended,
    & a.send {
        color: $tab-color;
        background: $tab-bg;

        &.active {
            color: $tab-active-color;
            background: $tab-active-bg;

            &:hover, &:focus {
                color: $tab-active-hover-color;
                background: $tab-active-hover-bg;
            }
        }

        &:hover, &:focus {
            color: $tab-hover-color;
            background: $tab-hover-bg;
        }
    }
}

.user-box .tabs {

    & a,
    & a.fav,
    & a.blocked {
        color: $tab-color;
        background: $tab-bg;

        &.active {
            color: $tab-active-color;
            background: $tab-active-bg;

            &:hover, &:focus {
                color: $tab-active-hover-color;
                background: $tab-active-hover-bg;
            }
        }

        &:hover, &:focus {
            color: $tab-hover-color;
            background: $tab-hover-bg;
        }
    }
}

// Tabs links
.nav-tabs .nav-link,
.nav-tabs .navbar-nav > li > a {
    color: $tab-color;
    background: $tab-bg;
    border-radius: 0;
    border: none;

    &:hover, &:focus, &:active {
        color: $tab-hover-color;
        background: $tab-hover-bg;
    }
}

// Active tabs links
.nav-tabs .nav-link.active,
.nav-tabs .navbar-nav > li.show > a,
.nav-tabs .navbar-nav > li > a.active,
.nav-tabs .show > .nav-link {
    color: $tab-active-color;
    background: $tab-active-bg;

    &:hover, &:focus, &:active {
        color: $tab-active-hover-color;
        background: $tab-active-hover-bg;
    }
}

