/* Rules that affect buttons */

.blue-box input.search-send,
input.search-send {
    background: transparent;
    border: 1px solid $border-dark-color;
    width: 60px;
    height: 23px;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 23px;
    z-index: 60;
}

// Search button after
fieldset.search {
    position: relative;

    &::after {
        color: $button-primary-color;
        background: $button-primary-bg;
        padding: 2.5px 12px;
        font-weight: bold;
        position: absolute;
        top: 1px;
        right: 24px;
        z-index: 40;
        content: "Szukaj";
    }
}

// Login containter
div.left-column div.left-box-content fieldset.login {
    margin: 10px 20px;
    height: 30px;
    // Login button
    & > .login-send {
        background: none;
        position: relative;
        margin-top: 0;
        height: 0px;
        width: 0px;

        &:after, &:hover:after {
            color: $button-primary-color;
            background: $button-primary-bg;
            border: 1px solid $border-dark-color;
            display: block;
            padding: 6px 20px;
            font-weight: bold;
            position: absolute;
            top: 0px;
            left: 0px;
            cursor: pointer;
            content: "Zaloguj";
        }

        &:hover:after {
            color: $button-primary-hover-color;
            background: $button-primary-hover-bg;
        }
    }
    // Facebook login button
    & .fb-button {
        background: none;
        position: relative;
        margin-top: 0;
        height: 0px;
        top: 0px;

        &:after, &:hover:after {
            color: $button-facebook-color;
            background: $button-facebook-bg;
            border: 1px solid $border-dark-color;
            display: block;
            padding: 6px 14px 6px 26px;
            font-weight: bold;
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
            content: "Zaloguj";
        }

        &:hover:after {
            color: $button-facebook-hover-color;
            background: $button-facebook-hover-bg;
        }

        &:before {
            color: $button-facebook-color;
            position: absolute;
            top: -3px;
            left: 15px;
            font-weight: bold;
            font-size: 24px;
            z-index: 1;
            content: "f";
        }
    }
}
