/* Rules that hide all kind of stuff (mostly useless parts of page) */

body > div#contener > div.top-top > a {

    &:after{
        position: absolute;
        top: 10px;
        padding-left: 22px;
        color: $brand-primary;
        font-size: 42px;
        content: "tekstowo.pl";
    }

    & > img {
        display: none;
    }
}
