/* Rules that affect all kind of containers */

#center {
    background: $body-bg;
}

// Set background color for all kind of boxes and containers.
.box-big,
.dodaj-soundtrack,
.dodaj-tekst,
.komentarz .bar,
.metric,
.revisions,
.zaproponuj-utwor,
.green-box,
.green-box .left-side,
.green-box .right-side,
.blue-box,
.blue-box .left-side,
.blue-box .right-side
#center,
#center .left-corner,
#center .right-corner,
.big-buttons div,
.left-box-top,
.left-box-bottom,
.left-box-top-green,
.left-box-bottom-green,
.left-box-content,
.left-box-content-green,
.blue .left-box-top-green,
.blue .left-box-bottom-green,
.blue .left-box-content-green,
fieldset.login.rejestracja,
div#center > div.right-column > div:nth-child(6),
div#center > div.right-column > div.teledysk-right-top,
div#center > div.right-column > div.teledysk-right {
    background: $box-bg;
}

// Override the background fo popular songs container.
div#center > div.right-column > div:nth-child(6) > div.teledysk-left > div.box-przeboje.no-bg {
    background: $box-bg !important;
}

// Footer.
div#bottom {
    padding: 20px 0 10px;
}

// Popular artists.
div.popularni {
    margin-top: 10px;
    height: 216px;
}

.box-big {
    width: 518px;
    border: none;
    padding: 5px 5px 5px 8px
}

// Load more comments container.
.comm_show_more {
    border: none;
    height: initial;
    text-align: center;
    margin: 20px auto;
}

// Metric container with song details info.
.metric {
    border: none;
}
