/* Rules that affect anchor links */

#center {
    background: $body-bg;
}

.box-big,
.dodaj-soundtrack,
.dodaj-tekst,
.zaproponuj-utwor,
.green-box,
.green-box .left-side,
.green-box .right-side,
.blue-box,
.blue-box .left-side,
.blue-box .right-side
#center,
#center .left-corner,
#center .right-corner,
.big-buttons div,
.left-box-top,
.left-box-bottom,
.left-box-top-green,
.left-box-bottom-green,
.left-box-content,
.left-box-content-green,
.blue .left-box-top-green,
.blue .left-box-bottom-green,
.blue .left-box-content-green,
fieldset.login.rejestracja,
div#center > div.right-column > div:nth-child(6),
div#center > div.right-column > div.teledysk-right-top,
div#center > div.right-column > div.teledysk-right {
    background: $box-bg;
}

// Important override of popular songs.
div#center > div.right-column > div:nth-child(6) > div.teledysk-left > div.box-przeboje.no-bg {
    background: $box-bg !important;
}

// Footer.
div#bottom {
    padding: 20px 0 10px;
}

// Popular artists.
div.popularni {
    margin-top: 10px;
    height: 216px;
}

.box-big {
    width: 518px;
    border: none;
    padding: 5px 5px 5px 8px
}