/* Rules that affect facebook plugin */

ul.topmenu li.fb a {
    background-color: $button-info-bg;
    background-image: none;
}

ul.topmenu li.fb a span {
    background: $box-bg;
}

ul.topmenu li.fb a {
    &:hover, & span:hover {
        background-color: $button-info-hover-bg;
    }
}

.fb-box {
    background-color: $box-light-bg;
    border: none;
    border-radius: 0;
    color: unset;
}
