/* Rules that affect icons */

// Voting icons
a.na-plus,
a.na-minus {
    background: $box-bg;
    position: relative;

    &:hover {
        background: lighten($box-bg, 10%);
    }
}


// Voting plus icon
a.na-plus {
    &:before,
    &:after {
        position: absolute;
        top: 5px;
        left: 12px;
        display: block;
        height: 16px;
        width: 2px;
        background: $brand-primary-dark;
        content: "";
    }

    &:after {
        transform: rotate(90deg);
    }
}

// Voting minus icon
a.na-minus {
    &:before {
        position: absolute;
        top: 5px;
        left: 12px;
        display: block;
        height: 16px;
        width: 2px;
        background: $brand-danger;
        transform: rotate(90deg);
        content: "";
    }
}

// Top 5 icon
body div#contener div#center > div.left-column > div:nth-child(6) > h3.marginb10.margint5 {
    & > img {
        width: 0px;
        height: 0px;
        margin: 0 4px;
        vertical-align: 0px;
    }

    &:before {
        content: "5";
        position: absolute;
        left: 43px;
    }
}

// Popular artists to left arrow.
a#art_box_left {
    width: 0;
    height: 0;
    background: transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 27px solid lighten($box-bg, 6%);
    top: 71px;
    left: 10px;

    &:hover {
        border-right: 27px solid lighten($box-bg, 12%);
    }
}

// Popular artists to right arrow.
a#art_box_right {
    width: 0;
    height: 0;
    background: transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 27px solid lighten($box-bg, 6%);
    top: 71px;
    right: 10px;

    &:hover {
        border-left: 27px solid lighten($box-bg, 12%);
    }
}
