/* Rules that affect icons */

// Voting icons
a.na-plus,
a.na-minus {
    background: $link-block-bg;
    position: relative;

    &:hover, &:focus {
        background: $link-block-hover-bg;
    }
}


// Voting plus icon
a.na-plus {
    &:before,
    &:after {
        position: absolute;
        top: 5px;
        left: 12px;
        display: block;
        height: 16px;
        width: 2px;
        background: $brand-primary-dark;
        content: "";
    }

    &:after {
        transform: rotate(90deg);
    }
}

// Voting minus icon
a.na-minus {
    &:before {
        position: absolute;
        top: 5px;
        left: 12px;
        display: block;
        height: 16px;
        width: 2px;
        background: $brand-danger;
        transform: rotate(90deg);
        content: "";
    }
}

// Top 5 icon
body div#contener div#center > div.left-column > div:nth-child(6) > h3.marginb10.margint5 {
    & > img {
        width: 0px;
        height: 0px;
        margin: 0 4px;
        vertical-align: 0px;
    }

    &:before {
        content: "5";
        position: absolute;
        left: 43px;
    }
}

// Popular artists to left arrow.
a#art_box_left {
    width: 0;
    height: 0;
    background: transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 27px solid lighten($link-block-bg, 6%);
    top: 71px;
    left: 10px;

    &:hover {
        border-right: 27px solid lighten($link-block-bg, 12%);
    }
}

// Popular artists to right arrow.
a#art_box_right {
    width: 0;
    height: 0;
    background: transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 27px solid lighten($link-block-bg, 6%);
    top: 71px;
    right: 10px;

    &:hover {
        border-left: 27px solid lighten($link-block-bg, 12%);
    }
}

/*// Set relative on icon's parent.
#center > div.big-buttons > div:nth-child(2) {
    position: relative;
}

// Search icon for search for song anchor link.
a.zaproponuj-utwor {
    &:before, &:after {
        margin: -8px 0 0;
        position: absolute;
        top: 50%;
        content: "";
    }

    &:before {
        left: 14px;
        width: 6px;
        height: 6px;
        border: 3px solid $link-color;
        border-radius: 12px;
    }

    &:after {
        left: 24px;
        width: 3px;
        height: 7px;
        border-radius: 0px 0px 40px 40px;
        margin-top: 0;
        background: $link-color;
        transform: rotate(-45deg);
    }

    &:hover:before, &:focus:before {
        border-color: $link-primary-hover-color;
    }

    &:hover:after, &:focus:after {
        background-color: $link-primary-hover-color;
    }
}*/

// Print song lyrics icon.
.drukuj {
    position: relative;

    &:before, &:after {
        content: '';
        background: transparent;
        top: 5.5px;
        position: absolute;
    }

    &:before {
        right: 10px;
        width: 8px;
        height: 12px;
        border: 1.5px solid $link-block-color;
    }

    &:after {
        right: 15px;
        border-width: 3px;
        border-style: solid;
        border-top-color: $link-block-bg;
        border-right-color: $link-block-color;
        border-bottom-color: $link-block-color;
        border-left-color: $link-block-bg;
    }

    &:hover:before, &:focus:before {
        border-color: $link-block-hover-color;
    }

    &:hover:after, &:focus:after {
        border-top-color: $link-block-hover-bg;
        border-right-color: $link-block-hover-color;
        border-bottom-color: $link-block-hover-color;
        border-left-color: $link-block-hover-bg;
    }
}

