/* Rules that affect anchor links */

// Global links color
a, a.search-adv {
    color: $link-color;

    &:hover, &:focus {
        color: $link-hover-color;
    }

    &.green {
        color: $link-primary-color;

        &:hover, &:focus {
            color: $link-primary-hover-color;
        }
    }
}

// Alphabet
ul.alfabet li a {
    color: $link-color;
    padding: 4px 7.5px;
    width: initial;
    height: initial;

    &:hover, &:focus {
        color: $link-hover-color;
        background: $box-light-bg;
    }
}

ul.nav.alfabet li a {
    &:hover, &:focus {
        color: $brand-danger;
    }
}

// Add song/sountrack
.dodaj-soundtrack,
.dodaj-tekst,
.zaproponuj-utwor {
    color: $link-color;
    line-height: initial;
    display: block;
    height: initial;
    width: initial;
    padding: 8.63px 6px;
    margin-top: 0;

    &:hover, &:focus {
        color: $link-hover-color;
        background: $box-light-bg;
    }
}

// Change the fixed size of containers for add song/soundtrack links
body div#contener div#center div.big-buttons {
    & div,
    & div.marginb5 {
        width: initial;
        height: initial;
        text-align: center;
    }
}

// Go to rankings link
body div#contener div#center > div.right-column > div.box-lista > div.box-content {
    margin-bottom: 0;

    & a.bold.text-right.block {
        background: $body-bg;
        margin: 0 !important;
        font-weight: initial;
        padding-top: 5px;
    }
}
