/* Rules that affect anchor links */

// Global links color
a, a.search-adv {
    color: $link-color;

    &:hover, &:focus {
        color: $link-hover-color;
    }

    &.green {
        color: $link-primary-color;

        &:hover, &:focus {
            color: $link-primary-hover-color;
        }
    }
}

// Alphabet
ul.alfabet li a {
    color: $link-color;
    padding: 4px 7.5px;
    width: initial;
    height: initial;

    &:hover, &:focus {
        color: $link-hover-color;
        background: $box-light-bg;
    }
}

ul.nav.alfabet li a {
    &:hover, &:focus {
        color: $brand-danger;
    }
}

// Add song/sountrack
.dodaj-soundtrack,
.dodaj-tekst,
.zaproponuj-utwor {
    color: $link-color;
    line-height: initial;
    display: block;
    height: initial;
    width: initial;
    padding: 8.63px 6px;
    margin-top: 0;

    &:hover, &:focus {
        color: $link-hover-color;
        background: $box-light-bg;
    }
}

// Change the fixed size of containers for add song/soundtrack links
body div#contener div#center div.big-buttons {
    & div,
    & div.marginb5 {
        width: initial;
        height: initial;
        text-align: center;
    }
}

// Go to rankings link
body div#contener div#center > div.right-column > div.box-lista > div.box-content {
    margin-bottom: 0;

    & a.bold.text-right.block {
        background: $body-bg;
        margin: 0 !important;
        font-weight: initial;
        padding-top: 5px;
    }
}

// Links in popular artists container.
div#art_box_move.to-move {
    top: 46px;

    & > div#art_box a.popularny {
        margin: 0;
        padding: 7px;
        width: 76px;
        height: 135px;

        & b.fanow {
            width: 100%;
            bottom: 7px;
            font-weight: bold;
        }

        &:hover, &:focus {
            background: $box-light-bg;

            & b.fanow {
                color: $link-primary-hover-color;
            }
        }
    }
}

// Show more comments, show related comment link.
.comm_show_more a {
    background: $box-bg;
}

.comm_show_more a, .komentarz p a {
    color: $link-primary-color;
    padding: 6px 12px;

    &:hover {
        color: $link-primary-hover-color;
        background: $box-light-bg;
    }
}

.blue .comm_show_more a, .blue .komentarz p a {
    color: $link-info-color;

    &:hover {
        color: $link-info-hover-color;
    }
}

// Link to comment author on comment bar.
.komentarz .bar a,
.komentarz .bar strong {
    color: $link-primary-color;

    &:hover {
        color: $link-primary-hover-color;
    }
}

.blue .komentarz .bar a,
.blue .komentarz .bar strong {
    color: $link-info-color;

    &:hover {
        color: $link-info-hover-color;
    }
}

// Links on left navbar for signed in user.
ul.login {
    margin: 0 -9px;

    & li {


        & a {
            padding: 2.5px 14px 2.5px 24px;
            margin-bottom: 0;

            &.msg {
                display: block;
                background: none;
            }
        }
    }
}
