td.pop_content,
td.pop_content h2.dialog_loading,
td.pop_content .dialog_content,
td.pop_content .dialog_summary,
td.pop_content .dialog_buttons,
td.pop_content .dialog_footer {
    background: $modal-base-bg;
}

td.pop_content .dialog_content,
td.pop_content .dialog_body,
td.pop_content .dialog_summary,
td.pop_content h2.dialog_title {
    border: none;
}

td.pop_topleft,
td.pop_topright,
td.pop_bottomleft,
td.pop_bottomright,
td.pop_top,
td.pop_bottom,
td.pop_side {
    background: $modal-base-border-color;
}

td.pop_content h2.dialog_title {
    background: $brand-danger;
    color: $text-light-color;
}

// Centerlize the model header text
#pop_content > h2 > span {
    text-align: center;
}

// Centerlize the modal footer choice buttons
#pop_content > div > div {
    text-align: center;
}

// Add overlay on page content when modal is displayed
#pop_dialog_table > tbody {
    box-shadow: 0px 0px 0px 9999px $overlay-bg;
}

// Hide site logo in modals.
#pop_content > div.login_box > img {
    display: none;
}

// Left login box in modals.
.login_box .l-box {
    background: $box-light-bg;
    border: none;
    border-radius: 0;
}
