/* Rules that affect site navbar */

// Change background for navbars
ul.topmenu,
ul.topmenu li.topmenu-first,
ul.topmenu li.topmenu-last,
ul.topmenu li.topmenu-last.fb,
ul.topmenu li a,
li.topmenu-last a {
    background: $navbar-link-bg !important;
}

// Main navbar
ul.topmenu li a,
li.topmenu-last a {
    color: $navbar-link-color !important;

    &:hover {
        color: $navbar-link-hover-color !important;
        background: $navbar-link-hover-bg !important;
    }

    &.active {
        color: $navbar-link-active-color !important;
        background: $navbar-link-active-bg !important;

        &:hover {
            color: $navbar-link-active-hover-color !important;
            background: $navbar-link-active-hover-bg !important;
        }
    }

    &:not(.active):focus {
        background: darken($navbar-link-bg, 2%) !important;
    }
}

// Reset the background of site stats under navbar
body > div#contener div#center div.right-corner {
    padding: 0;
    background: $body-bg;
    font-size: .9em;
    font-weight: initial;
}
