li.topmenu-last a {
    color: $navbar-link-color !important;
    background: $navbar-link-bg !important;

    &:hover {
        color: $navbar-link-hover-color !important;
        background: $navbar-link-hover-bg !important;
    }

    &.active {
        color: $navbar-link-active-color !important;
        background: $navbar-link-active-bg !important;

        &:hover {
            color: $navbar-link-active-hover-color !important;
            background: $navbar-link-active-hover-bg !important;
        }
    }
}
