body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $scrollbar-body-bg;
}

body::-webkit-scrollbar-thumb {
    background-color: $scrollbar-body-thumb-bg;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: $scrollbar-body-thumb-hover-bg;
}

body::-webkit-scrollbar-corner {
    background-color: $scrollbar-body-corner-bg;
}
