/* ### Variables ### */

// Colors
$gray-base:             #131313 !default;
$gray-darker:           #1C1C1C !default;
$gray-dark:             #272727 !default;
$gray:                  #666666 !default;
$gray-light:            #999999 !default;
$gray-lighter:          #CCCCCC !default;

// Brand colors
$brand-primary:         #74be2f !default;
$brand-primary-dark:    #62ae25 !default;
$brand-info:            #255EAE !default;
$brand-warning:         #E46C2C !default;
$brand-danger:          #970000 !default;


// Background color for `<body>`.
$body-bg: $gray-base !default;

// Global text color on `<body>`.
$text-base-color: #909090 !default;
$text-light-color: lighten($text-base-color, 10%) !default;
$text-dark-color: darken($text-base-color, 10%) !default;

// Global textual link color.
$link-color: lighten($gray, 15%) !default;
$link-hover-color: lighten($link-color, 10%) !default;

// Boxes, containers
$box-bg: $gray-darker;
$box-light-bg: $gray-dark;

// Links color
$link-color: lighten($text-base-color, 8%);
$link-color-hover: lighten($link-color, 10%);

// Headers color
$header-1-color: $brand-primary-dark;
$header-2-color: darken($text-base-color, 8%) !default;
$header-3-color: darken($text-base-color, 8%) !default;
$header-4-color: darken($text-base-color, 8%) !default;
$header-5-color: darken($text-base-color, 8%) !default;
$header-6-color: darken($text-base-color, 8%) !default;

// Navbar links
$navbar-link-color: lighten($link-color, 10%);
$navbar-link-bg: $box-bg;
$navbar-link-hover-color: lighten($navbar-link-color, 100%);
$navbar-link-hover-bg: $brand-primary-dark;

// Navbar active links
$navbar-link-active-color: lighten($navbar-link-color, 100%);
$navbar-link-active-bg: $brand-primary-dark;
$navbar-link-active-hover-color: $navbar-link-active-color;
$navbar-link-active-hover-bg: $brand-primary-dark;

// Pagination
$pagination-color: $brand-danger;

// Border colors
$border-base-color: $gray;
$border-light-color: lighten($border-base-color, 20%);
$border-dark-color: darken($border-base-color, 20%);

// Controls, inputs, textareas
$input-base-color: lighten($text-base-color, 10%);
$input-base-bg: lighten($box-light-bg, 5%);

// Buttons
$button-base-color: lighten($text-base-color, 25%);
$button-base-bg: $box-bg;

$button-box-color: $button-base-color;
$button-box-bg: $box-light-bg;

$button-primary-color: $button-base-color;
$button-primary-bg: $brand-primary-dark;